

.mui-content .companyName{
	font-size:22px;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 20px;
	padding-bottom: 10px;
}

.mui-content .infos{
	font-family: "微软雅黑";
	margin-left: 18px;
	margin-right: 18px;
}
.mui-content .infos dl{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}
.mui-content .infos dt{
	flex-grow: 1;
	width: 50%;
}

.mui-content .infos .title{
	color: #fff;
	font-size: 14px;
	background-color: #666666;
	padding: 3px 12px;
	border-radius: 8px;
	
}

.mui-content .infos .detailsinfo{
	margin-left: 6px;
	margin-right: 10px;
	font-size: 14px;
}

.mui-content .infos .detailsinfo_special{
	display: block;
	float: right;
	margin-left: 6px;
	margin-right: 10px;
	font-size: 14px;
	width: 77%;
	margin-top: 0px;
}

.mui-content .photo{
	margin-top: 18px;
	margin-left: 18px;
	margin-right: 18px;
}
.mui-content .photo img{
	width: 100%;
}

.mui-content .introduce{
	margin-left: 18px;
	margin-right: 18px;
	margin-top: 22px;
	font-size: 14px;
}
