.mui-content{
	background-image: url(../img/passwordBGC.jpg);
}


.mui-content .beforeCheckEmail{
	background-color: rgba(255,255,255,0);
	margin-left: 15px ;
	margin-right: 15px;
	margin-top: 180px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	height: 398px;
}

.mui-content .beforeCheckEmail p{
	position: relative;
}
.mui-content .beforeCheckEmail .iconfont{
	position: absolute;
	font-size: 20px;
	left: 15px;
	top: 9px;
}

.mui-content .beforeCheckEmail [type='text']{
	border-radius: 20px;
	padding-left: 42px;
	font-size: 18px;
}

.mui-content .beforeCheckEmail #code{
	width: 65%;
}

.mui-content .beforeCheckEmail p [type='button']{
	background-color: #33CCFF;
	margin-left: 5px;
	margin-top: 2px;
	width: 95px;
}

.mui-content .afterCheckEmail{
	background-color: rgba(255,255,255,0);
	margin-left: 15px ;
	margin-right: 15px;
	margin-top: 180px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	height: 398px;
}

.mui-content .afterCheckEmail p{
	position: relative;
}
.mui-content .afterCheckEmail .iconfont{
	position: absolute;
	font-size: 22px;
	left: 15px;
	top: 9px;
}
.mui-content .afterCheckEmail [type='text']{
	border-radius: 20px;
	padding-left: 42px;
	font-size: 18px;
}
.mui-content .afterCheckEmail [type='password']{
	border-radius: 20px;
	padding-left: 42px;
	font-size: 18px;
}